<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #3799ff;
        color: white;
        text-align: center;
    }
    .header {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: green;
        color: white;
        text-align: center;
    }
</style>
    <div class="header" >
        {{> header}}
    </div>
<body topmargin="100px">
    <h1>About me</h1>
    <p>I'm pretty good at faking that I can program</p>
</body>
    <div class="footer">
        {{> footer}}
    </div>
</html>